.classpath
.project
.settings
target
.gradle
build
bin
classes
games-packaged.js.gz
games-packaged.css.gz
games-packaged.js
games-packaged.css
.cache
/nbproject/private/
.idea
.idea_modules
/nbproject/
/build.xml
.history
.scala_dependencies
