/*High Contrast theme based on CodeMirror's theme "default"*/

.cm-s-high-contrast span.cm-keyword {color: #708; font-weight: bold;}
.cm-s-high-contrast span.cm-atom {color: #219; font-weight: bold;}
.cm-s-high-contrast span.cm-number {color: #164; font-weight: bold;}
.cm-s-high-contrast span.cm-def {color: #00f; font-weight: bold;}
.cm-s-high-contrast span.cm-variable {color: black; font-weight: bold;}
.cm-s-high-contrast span.cm-variable-2 {color: #05a; font-weight: bold;}
.cm-s-high-contrast span.cm-variable-3 {color: #085; font-weight: bold;}
.cm-s-high-contrast span.cm-property {color: black; font-weight: bold;}
.cm-s-high-contrast span.cm-operator {color: black; font-weight: bold;}
.cm-s-high-contrast span.cm-comment {color: #a50; font-weight: bold;}
.cm-s-high-contrast span.cm-string {color: #a11; font-weight: bold;}
.cm-s-high-contrast span.cm-string-2 {color: #f50; font-weight: bold;}
.cm-s-high-contrast span.cm-meta {color: #555; font-weight: bold;}
.cm-s-high-contrast span.cm-error {color: #f00; font-weight: bold;}
.cm-s-high-contrast span.cm-qualifier {color: #555; font-weight: bold;}
.cm-s-high-contrast span.cm-builtin {color: #30a; font-weight: bold;}
.cm-s-high-contrast span.cm-bracket {color: #cc7; font-weight: bold;}
.cm-s-high-contrast span.cm-tag {color: #170; font-weight: bold;}
.cm-s-high-contrast span.cm-attribute {color: #00c; font-weight: bold;}
.cm-s-high-contrast span.cm-header {color: blue; font-weight: bold;}
.cm-s-high-contrast span.cm-quote {color: #090; font-weight: bold;}
.cm-s-high-contrast span.cm-hr {color: #999; font-weight: bold;}
.cm-s-high-contrast span.cm-link {color: #00c; font-weight: bold;}