<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

<!-- 	<filter> -->
<!-- 		<filter-name>gzip</filter-name> -->
<!-- 		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>mimeTypes</param-name> -->
<!-- 			<param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,application/x-javascript -->
<!-- 			</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>gzip</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<taglib>
		<taglib-uri>http://www.opensymphony.com/sitemesh/decorator</taglib-uri>
		<taglib-location>/WEB-INF/sitemesh-decorator.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://www.opensymphony.com/sitemesh/page</taglib-uri>
		<taglib-location>/WEB-INF/sitemesh-page.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>http://vidageek.net/games</taglib-uri>
		<taglib-location>/WEB-INF/games.tld</taglib-location>
	</taglib>

	<filter>
		<filter-name>vraptor</filter-name>
		<filter-class>br.com.caelum.vraptor.VRaptor</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>vraptor</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<context-param>
		<param-name>org.mortbay.jetty.servlet.SessionURL</param-name>
		<param-value>none</param-value>
	</context-param>

    <context-param>
        <param-name>br.com.caelum.vraptor.packages</param-name>
        <param-value>br.com.caelum.vraptor.http.iogi</param-value>
    </context-param>

</web-app>